<template>
  <div id="list">
    <!-- 轮播图 -->
    <div class="top">
      <el-carousel
        height="460px"
        :interval="3000"
        arrow="always"
      >
        <el-carousel-item
          v-for="(item,i) in swiper"
          :key="i"
        >
          <img
            :src="'http://106.15.179.105/api/'+item.imgPath"
            class="swiper"
          >

        </el-carousel-item>
      </el-carousel>
    </div>
    <!-- 中间下内容 -->
    <div class="w100">
      <div class="con">

        <!-- ================ 这是一条帅气的分界线 ================ -->

        <p class="p">手机</p>
        <div class="mobile">
          <!-- 左边图片 -->
          <div class="left"><img
              src="../../../public/imgs/phone.png"
              alt=""
            ></div>
          <!-- 右边商品 -->
          <div class="right">
            <span
              v-for="(item,i) in mobile"
              :key="i"
              @click="detail(item)"
            >
              <img
                :src="'http://106.15.179.105/api/'+item.product_picture"
                class="img"
              >
              <p class="p1">{{item.product_name}}</p>
              <p class="p2">{{item.product_title}}</p>
              <p class="p3">{{item.product_selling_price}}元&ensp;<s v-show="item.product_selling_price!=item.product_price">{{item.product_price}}</s></p>
            </span>
            <span
              class="span"
              @click="router(1)"
            >
              <a>浏览更多&ensp;》</a>
            </span>
          </div>
        </div>

        <!-- ================ 这是一条帅气的分界线 ================ -->

        <p class="p">
          <span>家电</span>
          <span class="you">
            <a
              href="/"
              :class="householdIndex==1?'active':''"
              @mouseenter="householdMove1"
            >热门</a>&emsp;
            <a
              href="/"
              :class="householdIndex==2?'active':''"
              @mouseenter="householdMove2"
            >电影影视</a>
          </span>
        </p>
        <div class="household">
          <!-- 左边商品 -->
          <div class="left">
            <img
              src="../../../public/imgs/appliance-promo1.png"
              alt=""
            >
            <img
              src="../../../public/imgs/appliance-promo2.png"
              alt=""
            >
          </div>
          <!-- 右边商品 -->
          <div class="right">
            <span
              v-for="(item,i) in household"
              :key="i"
              @click="detail(item)"
            >
              <img
                :src="'http://106.15.179.105/api/'+item.product_picture"
                class="img"
              >
              <p class="p1">{{item.product_name}}</p>
              <p class="p2">{{item.product_title}}</p>
              <p class="p3">{{item.product_selling_price}}元&ensp;<s v-show="item.product_selling_price!=item.product_price">{{item.product_price}}</s></p>
            </span>
            <span
              class="span"
              @click="router(2)"
            >
              <a>浏览更多&ensp;》</a>
            </span>
          </div>
        </div>

        <!-- ================ 这是一条帅气的分界线 ================ -->

        <p class="p">
          <span>配件</span>
          <span class="you">
            <a
              href="/"
              :class="PartsdataIndex==1?'active':''"
              @mouseenter="PartsdataMove1"
            >热门</a>&emsp;
            <a
              href="/"
              :class="PartsdataIndex==2?'active':''"
              @mouseenter="PartsdataMove2"
            >保护套</a>&emsp;
            <a
              href="/"
              :class="PartsdataIndex==3?'active':''"
              @mouseenter="PartsdataMove3"
            >充电器</a>
          </span>
        </p>
        <div class="parts">
          <!-- 左边部分 -->
          <div class="left">
            <img
              src="../../../public/imgs/accessory-promo1.png"
              alt=""
            >
            <img
              src="../../../public/imgs/accessory-promo2.png"
              alt=""
            >
          </div>
          <!-- 右边商品 -->
          <div class="right">
            <span
              v-for="(item,i) in parts"
              :key="i"
              @click="detail(item)"
            >
              <img
                :src="'http://106.15.179.105/api/'+item.product_picture"
                class="img"
              >
              <p class="p1">{{item.product_name}}</p>
              <p class="p2">{{item.product_title}}</p>
              <p class="p3">{{item.product_selling_price}}元&ensp;<s v-show="item.product_selling_price!=item.product_price">{{item.product_price}}</s></p>
            </span>
            <span
              class="span"
              @click="router(3)"
            >
              <a>浏览更多&ensp;》</a>
            </span>
          </div>
        </div>
      </div>
      <!-- 最底下内容 -->

    </div>

  </div>
</template>

<script>
import {
  getSwiperdata,
  getMobiledata,
  getHouseholddata,
  getPartsdata,
  getMovies,
  getChargerdata,
  getprotectdata
} from "@/api/get.js";

export default {
  name: "goods",
  data() {
    return {
      swiper: [],
      mobile: [],
      household: [],
      parts: [],
      householdIndex: 1,
      PartsdataIndex: 1,
      routerList: [1],
      index: 1
    };
  },

  components: {},
  methods: {
    // 划入家电的热门触发事件
    householdMove1() {
      this.householdIndex = 1;
      getHouseholddata().then(res => {
        this.household = res.Product;
      });
      this.index = 2;
    },
    // 划入家电的电影影视触发的事件
    householdMove2() {
      this.householdIndex = 2;
      getMovies().then(res => {
        this.household = res.Product;
      });
      this.index = 2.1;
    },
    // 划入配件的热门触发的事件
    PartsdataMove1() {
      this.PartsdataIndex = 1;
      getPartsdata().then(res => {
        this.parts = res.Product;
      });
      this.index = 3;
    },
    // 划入配件的保护套触发的事件
    PartsdataMove2() {
      this.PartsdataIndex = 2;
      // getprotectdata
      getprotectdata().then(res => {
        console.log(res);
        this.parts = res.Product;
      });
      this.index = 3.1;
    },
    // 划入配件的充电器触发的事件
    PartsdataMove3() {
      this.PartsdataIndex = 3;
      getChargerdata().then(res => {
        console.log(res);
        this.parts = res.Product;
      });
      this.index = 3.2;
    },
    detail(item) {
      this.$router.push({ path: "/details", query: { item: item.product_id } });
    },

    router(i) {
      if (i == 1) {
        this.routerList = [1];
      }
      if (i == 2 && this.index != 2.1) {
        this.routerList = [2, 3, 4];
      }
      if (i == 2 && this.index == 2.1) {
        this.routerList = [2];
      }
      if (i == 3 && this.index != 3.1 && this.index != 3.2) {
        this.routerList = [5, 6, 7, 8];
      }
      if (i == 3 && this.index == 3.1) {
        this.routerList = [5];
      }
      if (i == 3 && this.index == 3.2) {
        this.routerList = [7];
      }
      console.log(this.routerList);
      this.$router.push({
        path: "/ratings",
        query: { filter: this.routerList }
      });
    }
  },
  computed: {},
  async mounted() {
    // 轮播图数据
    getSwiperdata().then(res => {
      this.swiper = res.carousel;
    });
    // 手机数据
    getMobiledata().then(res => {
      this.mobile = res.Product;
    });
    // 家电数据
    getHouseholddata().then(res => {
      this.household = res.Product;
    });
    // 配件数据
    getPartsdata().then(res => {
      this.parts = res.Product;
    });
  }
};
</script>

<style lang="less" scoped>
#list {
  margin-top: 14px;
  .top {
    width: 80%;
    margin: 0px auto;
  }
  .w100 {
    width: 100%;
    background: #f5f5f5;
    .con {
      margin: 20px auto;
      width: 80%;
      .p {
        font-size: 24px;
        font-weight: 100;
        padding: 10px 0;
        margin-top: 20px;
        display: flex;
        justify-content: space-between;
        .you {
          font-size: 16px;
          .active {
            color: #ff6700;
            padding-bottom: 1px;
            border-bottom: 2px solid #ff6700;
          }
        }
      }
      // 手机
      .mobile {
        width: 100%;
        height: 613px;
        display: flex;
        .left,
        .right {
          float: left;
          margin-top: 0px;
          height: 100%;
        }
        .left {
          width: 17%;
          img {
            width: 100%;
            height: 100%;
          }
        }
        .right {
          width: 83%;
          display: flex;
          flex-wrap: wrap;
          .span {
            font-size: 18px;
            line-height: 270px;
            font-weight: 400;
            a:hover {
              cursor: pointer;
              color: #ff6802;
            }
          }
          span {
            width: 23.4%;
            background: white;
            margin-left: 16px;
            margin-bottom: 8px;
            text-align: center;
            height: 280px;
            img {
              width: 80%;
              height: 60%;
            }
            font-size: 14px;
            .p2 {
              margin: 10px 0;
              color: #b0b0b0;
            }
            .p3 {
              font-size: 16px;
              s {
                color: #ccc;
              }
              color: #ff7a20;
            }
          }
          span:hover {
            box-shadow: 0px 8px 16px 0px #ccc;
          }
        }
      }
      // 家电
      .household {
        width: 100%;
        height: 613px;
        display: flex;
        .left,
        .right {
          float: left;
          margin-top: 0px;
          height: 100%;
        }
        .left {
          width: 17%;
          img {
            width: 100%;
            height: 49%;
          }
          img:hover {
            box-shadow: 0px 8px 16px 0px #ccc;
          }
        }
        .right {
          width: 83%;
          display: flex;
          flex-wrap: wrap;
          .span {
            font-size: 18px;
            line-height: 270px;
            font-weight: 400;
            a:hover {
              cursor: pointer;
              color: #ff6802;
            }
          }
          span {
            width: 23.4%;
            background: white;
            margin-left: 16px;
            margin-bottom: 8px;
            text-align: center;
            height: 280px;
            img {
              width: 80%;
              height: 60%;
            }
            font-size: 14px;
            .p2 {
              margin: 10px 0;
              color: #b0b0b0;
            }
            .p3 {
              font-size: 16px;
              s {
                color: #ccc;
              }
              color: #ff7a20;
            }
          }
          span:hover {
            box-shadow: 0px 8px 16px 0px #ccc;
          }
        }
      }
      // 配件
      .parts {
        width: 100%;
        height: 613px;
        display: flex;
        .left,
        .right {
          float: left;
          margin-top: 0px;
          height: 100%;
        }
        .left {
          width: 17%;
          img {
            width: 100%;
            height: 49%;
          }
          img:hover {
            box-shadow: 0px 8px 16px 0px #ccc;
          }
        }
        .right {
          width: 83%;
          display: flex;
          flex-wrap: wrap;
          .span {
            font-size: 18px;
            line-height: 270px;
            font-weight: 400;
            a:hover {
              cursor: pointer;
              color: #ff6802;
            }
          }
          span {
            width: 23.4%;
            background: white;
            margin-left: 16px;
            margin-bottom: 8px;
            text-align: center;
            height: 280px;
            img {
              width: 80%;
              height: 60%;
            }
            font-size: 14px;
            .p2 {
              margin: 10px 0;
              color: #b0b0b0;
            }
            .p3 {
              font-size: 16px;
              s {
                color: #ccc;
              }
              color: #ff7a20;
            }
          }
          span:hover {
            box-shadow: 0px 8px 16px 0px #ccc;
          }
        }
      }
    }
  }
}
</style>


