<template>
  <div class='cart'>
    <div class="topa">
      <div class="top">
        <div class="center">
          <span>
            <i class="el-icon-shopping-cart-full"></i>我的购物车
          </span>
          <span>温馨提示：产品是否购买成功，以最终下单为准哦，请尽快结算</span>
        </div>
      </div>
    </div>
    <!-- 购物车没有数据时显示的图片 -->

    <div
      class="img"
      v-show="imgShow==true"
    >
      <div class="box">
        <div class="kong">
          <p>您的购物车还是空的！</p>
          快去购物吧！
        </div>
      </div>
    </div>
    <!-- 购物车数据 -->
    <div
      class="con"
      v-show="imgShow==false"
    >
      <div class="head">
        <span><input
            type="checkbox"
            v-model="allCheck"
            @change="all"
          >&emsp;全选</span>
        <span>商品名称</span>
        <span>单价</span>
        <span>数量</span>
        <span>小计</span>
        <span>操作</span>
      </div>
      <div
        class="body"
        v-for="(item,i) in list"
        :key="i"
      >
        <span><input
            type="checkbox"
            v-model="item.check"
            @change="change"
          ></span>
        <span class="er">
          <img
            :src="'http://106.15.179.105:3000/'+item.productImg"
            class="swiper"
          >
          <span>{{item.productName}}</span>
        </span>
        <span>{{item.price}}元</span>
        <span class="Number">
          <el-input-number
            v-model="item.num"
            @change="handleChange(item)"
            :min="1"
            :max="5"
          ></el-input-number>
        </span>
        <span class="numPrice">{{item.price*item.num}}元</span>
        <span class="delBox">
          <el-button
            class="del"
            slot="reference"
            @click="aaa(i)"
          >x</el-button>
          <div
            class="modalDel"
            v-show="visible==i"
          >
            <p>确定删除吗</p>
            <el-button
              class="btn"
              type="primary"
              @click="del(item)"
            >确定</el-button>
          </div>
        </span>
      </div>
      <div class="bottom">
        <div class="box">
          <span class="left">
            <span>继续购物</span><span>|</span>
            <span>共<span class="num">{{list.length}}</span>件商品，已选择<span class="checkNum">{{num.num}}</span>件</span>
          </span>
          <span class="right">
            <span>合计<b>{{num.price}}元</b></span>
            <span
              class="btnSpan"
              :class="state==true?'active':''"
              @click="orderRouter"
            >去结算</span>
          </span>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { list, plusNum, delList } from "@/api/cart.js";
export default {
  data() {
    return {
      list: [],
      imgShow: false,
      visible: -1,
      state: false,
      allCheck: false
    };
  },
  mounted() {
    this.getlist();
    this.changeListLength();
  },
  methods: {
    changeListLength() {
      localStorage.setItem("length", this.list.length);
    },
    // 跳转到订单页面
    orderRouter() {
      if (this.state) {
        let orderList = [];
        orderList = this.list.filter(item => {
          return item.check == true;
        });
        localStorage.setItem("orderList", JSON.stringify(orderList));
        this.$router.push({ path: "/order" });
      } else {
        return "";
      }
    },
    // 全选
    all() {
      this.list.forEach(item => {
        item.check = this.allCheck;
      });
      if (this.allCheck == true) {
        this.state = true;
      } else {
        this.state = false;
      }
    },
    // 状态切换
    change() {
      let a = 0;
      let b = 0;
      this.list.forEach(item => {
        if (item.check == true) {
          a++;
        }
      });
      if (a != 0) {
        this.state = true;
      } else {
        this.state = false;
      }
      if (a == this.list.length) {
        this.allCheck = true;
      } else {
        this.allCheck = false;
      }
    },
    // 点击擅删除事件
    aaa(i) {
      this.visible = i;
    },
    // 删除弹窗的确定按钮
    del(item) {
      let product_id = item.productID;
      let user_id = localStorage.getItem("user_id");
      delList({ product_id: product_id, user_id: user_id }).then(res => {
        this.visible = -1;
        this.getlist();
        this.$notify({
          title: "成功",
          message: res.msg,
          type: "success"
        });
      });
    },
    // 数量加减事件
    handleChange(item) {
      let num = item.num;
      let product_id = item.productID;
      let user_id = localStorage.getItem("user_id");
      plusNum({ num: num, product_id: product_id, user_id: user_id }).then(
        res => {
          this.$notify({
            title: "成功",
            message: res.msg,
            duration: 3000,
            type: "success"
          });
        }
      );
    },
    getlist() {
      let id = localStorage.getItem("user_id");
      list({ user_id: id }).then(res => {
        this.list = res.shoppingCartData;
        console.log(this.list);
        if (this.list.length != 0) {
          console.log(1);
          this.imgShow = false;
        } else {
          console.log(2);
          this.imgShow = true;
        }
      });
    }
  },
  components: {},
  computed: {
    num() {
      let num = 0;
      let price = 0;
      this.list.forEach(item => {
        if (item.check == true) {
          num++;
          price += item.price * item.num;
        }
      });
      return { num: num, price: price };
    }
  }
};
</script>

<style lang='less'>
.cart {
  .topa {
    width: 100%;
    .top {
      border-bottom: 3px solid #ff6700;
      padding: 16px 0;
      .center {
        width: 80%;
        margin: 0px auto;
        padding-top: 10px;
        span:nth-child(1) {
          font-size: 26px;
          i {
            color: #ff6700;
            font-weight: bold;
            margin-right: 6px;
          }
        }
        span:nth-child(2) {
          font-size: 12px;
          color: #757575;
        }
      }
    }
  }
  .img {
    width: 100%;
    background: #f5f5f5;
    height: 600px;
    .box {
      margin: 0px auto;
      padding-left: 200px;
      width: 80%;
      height: 100%;
      background-image: url("../../../public/imgs/cart.png");
      background-size: 100% 100%;
      position: relative;
      .kong {
        position: absolute;
        left: 50%;
        top: 30%;
        // background: red;
        line-height: 30px;
        color: #b0b0b5;
        font-size: 22px;
        p {
          font-weight: bold;
          margin-bottom: 20px;
          font-size: 34px;
          color: #b0b0b5;
        }
      }
    }
    img {
      width: 50%;
      height: 100%;
    }
  }
  .con {
    background: #f5f5f5;
    padding-top: 20px;
    .head {
      width: 80%;
      margin: 0px auto;
      height: 80px;
      background: red;
      background: white;
      line-height: 80px;
      border-bottom: 1px solid #e0e0e0;
      display: flex;
      span {
        width: 14%;
        text-align: center;
        font-weight: 100;
      }
      span:nth-child(2) {
        width: 40%;
      }
    }
    .body {
      background: white;
      width: 80%;
      margin: 0px auto;
      height: 100px;
      line-height: 100px;
      display: flex;
      border-bottom: 1px solid #e0e0e0;
      font-size: 12px;
      padding: 14px 0;
      span {
        width: 14%;
        text-align: center;
        img {
          margin-left: 80px;
          width: 20%;
          height: 90%;
          vertical-align: middle;
          margin-right: 10px;
        }
      }
      .delBox {
        position: relative;
        .modalDel {
          position: absolute;
          left: 100px;
          top: 0;
          width: 160px;
          height: 80px;
          box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.1);
          font-weight: 100;
          background: white;
          p {
            text-align: left;
            padding-left: 10px;
            font-size: 14px;
            height: 30px;
            line-height: 30px;
          }
          .btn {
            position: absolute;
            right: 10px;
            top: 40px;
            height: 30px;
            margin: 0;
            font-size: 12px;
            padding: 2px 14px;
          }
        }
        .del {
          padding: 0;
          margin: 0;
          background: black;
          margin-top: 40px;
          display: inline-block;
          border-radius: 50%;
          color: white;
          font-size: 10px;
          line-height: 16px;
          width: 18px;
          height: 18px;
          border: none;
        }
      }

      .del:hover {
        background: #ff6700;
      }
      .numPrice {
        color: #ff6700;
      }
      .Number {
        .el-input-number {
          width: 80%;
        }
        .el-input-number .el-input__inner {
          padding: 0;
          margin: 0;
        }
        .el-input-number__decrease,
        .el-input-number__increase {
          width: 28px;
        }
      }
      .er {
        width: 40%;
        text-align: left;
      }
    }
    .bottom {
      margin: 10px 0px;
      padding-bottom: 30px;
      .box {
        width: 80%;
        margin: 0px auto;
        display: flex;
        justify-content: space-between;
        line-height: 60px;
        background: white;
        .left {
          height: 60px;
          width: 35%;
          color: #757575;
          span:nth-child(1) {
            cursor: pointer;
            display: inline-block;
            margin: 0px 20px;
          }
          span:nth-child(2) {
            color: #eff2f7;
          }
          span:nth-child(3) {
            margin-left: 20px;
            span {
              display: inline-block;
              margin: 0px 4px;
              color: #ff6700;
            }
          }
        }
        .right {
          height: 60px;
          width: 65%;
          text-align: right;
          span {
            display: inline-block;
            margin-right: 30px;
            color: #ff6700;
            line-height: 60px;
            b {
              margin-left: 10px;
              font-size: 28px;
            }
          }
          .btnSpan {
            text-align: center;
            height: 100%;
            width: 180px;
            background: #e0e0e0;
            font-size: 18px;
            color: #b0b0b5;
            margin: 0;
          }
          .active {
            background: #ff6700;
            color: white;
            cursor: pointer;
          }
        }
      }
    }
  }
}
.el-notification {
  margin-top: 160px;
}
</style>
