<template>
  <div class='like'>
    <div
      class="topa"
      @click="hide"
    >
      <div class="top">
        <div class="center">
          <span>
            <i class="el-icon-collection-tag"></i>我的收藏
          </span>
        </div>
      </div>
    </div>
    <!-- 购物车没有数据时显示的图片 -->
    <div
      class="img"
      v-show="imgShow==true"
    >
      <div class="box">
        <div class="kong">
          <p>您的收藏还是空的！</p>
          快去购物吧！
        </div>
      </div>
    </div>
    <div
      class="con"
      @click="hide"
    >
      <div class="box">
        <span
          v-for="(item,i) in list"
          :key="i"
        >
          <span
            class="del"
            @click.stop="xs(i)"
          >X</span>
          <div
            class="modalDel"
            v-show="visible==i"
          >
            <p>确定删除吗</p>
            <el-button
              class="btn"
              type="primary"
              @click.stop="del(item)"
            >确定</el-button>
          </div>
          <img
            :src="'http://106.15.179.105/api/'+item.product_picture"
            class="img"
          >
          <p class="p1">{{item.product_name}}</p>
          <p class="p2">{{item.product_title}}</p>
          <p class="p3">{{item.product_selling_price}}元&ensp;<s v-show="item.product_selling_price!=item.product_price">{{item.product_price}}</s></p>
        </span>
      </div>
    </div>
  </div>
</template>

<script>
import { getlist, delList } from "@/api/like.js";
export default {
  data() {
    return {
      list: [],
      imgShow: false,
      visible: -1
    };
  },
  mounted() {
    this.getlist();
  },
  methods: {
    hide() {
      this.visible = -1;
    },
    del(item) {
      let product_id = item.product_id;
      let user_id = localStorage.getItem("user_id");
      delList({ product_id: product_id, user_id: user_id }).then(res => {
        this.getlist();
        this.$notify({
          title: "成功",
          message: res.msg,
          type: "success"
        });
        this.visible = -1;
      });
    },
    // 删除
    xs(i) {
      this.visible = i;
    },
    // 获取数据
    getlist() {
      let id = localStorage.getItem("user_id");
      getlist({ user_id: id }).then(res => {
        this.list = res.collectList;
        if (this.list == undefined) {
          this.imgShow = true;
        } else {
          this.imgShow = false;
        }
      });
    }
  },
  components: {}
};
</script>

<style lang='less'>
.like {
  .topa {
    width: 100%;
    .top {
      border-bottom: 3px solid #ff6700;
      padding: 16px 0;
      .center {
        width: 80%;
        margin: 0px auto;
        padding-top: 10px;
        span:nth-child(1) {
          font-size: 26px;
          i {
            color: #ff6700;
            font-weight: bold;
            margin-right: 6px;
          }
        }
        span:nth-child(2) {
          font-size: 12px;
          color: #757575;
        }
      }
    }
  }
  .img {
    width: 100%;
    background: #f5f5f5;
    height: 600px;
    .box {
      margin: 0px auto;
      padding-left: 200px;
      width: 80%;
      height: 100%;
      background-image: url("../../../public/imgs/cart.png");
      background-size: 100% 100%;
      position: relative;
      .kong {
        position: absolute;
        left: 50%;
        top: 30%;
        // background: red;
        line-height: 30px;
        color: #b0b0b5;
        font-size: 22px;
        p {
          font-weight: bold;
          margin-bottom: 20px;
          font-size: 34px;
          color: #b0b0b5;
        }
      }
    }
    img {
      width: 50%;
      height: 100%;
    }
  }
  .con {
    height: 600px;
    background: #f5f5f5;
    .box {
      height: 100px;
      width: 80%;
      margin: 0px auto;
      display: flex;
      flex-wrap: wrap;
      span {
        position: relative;
        width: 18.9%;
        height: 280px;
        background: white;
        margin-left: 12px;
        margin-top: 14px;
        text-align: center;
        cursor: pointer;
        .del {
          right: 0;
          top: 0;
          position: absolute;
          height: 0px;
          display: none;
        }
        .modalDel {
          position: absolute;
          left: 100px;
          top: -80px;
          width: 160px;
          height: 80px;
          box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.1);
          font-weight: 100;
          background: white;
          z-index: 999;
          p {
            text-align: left;
            padding-left: 10px;
            font-size: 14px;
            height: 30px;
            line-height: 30px;
          }
          .btn {
            position: absolute;
            right: 10px;
            top: 40px;
            height: 30px;
            margin: 0;
            font-size: 12px;
            padding-left: 0px;
            padding-right: 8px;
            padding-top: 8px;
            span {
              background: #5eadff;
            }
          }
        }
        img {
          width: 70%;
          height: 60%;
        }
        font-size: 14px;
        .p2 {
          margin: 10px 0;
          color: #b0b0b0;
        }
        .p3 {
          font-size: 16px;
          s {
            color: #ccc;
          }
          color: #ff7a20;
        }
      }
      span:hover {
        box-shadow: 0px 8px 16px 0px #ccc;
        .del {
          display: block;
        }
      }
    }
  }
}
</style>
