<template>
  <div class='details'>
    <div class="top">
      <div>{{obj.product_name}}</div>
    </div>
    <!-- 底下内容 -->
    <div class="con">
      <!-- 左边内容 -->
      <div class="left">
        <el-carousel
          height="460px"
          :interval="3000"
          arrow="always"
        >
          <el-carousel-item
            v-for="(item,i) in swiper"
            :key="i"
          >
            <img
              :src="'http://106.15.179.105/api/'+item.product_picture"
              class="swiper"
            >
          </el-carousel-item>
        </el-carousel>
      </div>
      <!-- 右边内容 -->
      <div class="right">
        <div class="rightTop">
          <h2>{{obj.product_name}}</h2>
          <p class="p1">{{obj.product_intro}}</p>
          <p class="p2">小米自营</p>
          <p class="p3">{{obj.product_selling_price}}元&ensp;<s v-show="obj.product_selling_price!=obj.product_price">{{obj.product_price}}</s></p>

        </div>
        <div class="rightBom">
          <div class="bomBox">
            <p class="ppp">
              <span>{{obj.product_name}}</span>
              <span>{{obj.product_price}}元&ensp;<s>{{obj.product_selling_price}}元</s></span>
            </p>
            <span class="origin">
              总计{{obj.product_price}}元
            </span>
          </div>
          <button
            class="btn1"
            @click="add"
          >加入购物车</button>
          <button
            class="btn2"
            @click="addLike"
          >喜欢</button><br />
          <span>小米自营 小米发货 7天无理由退货 7天价格保护 </span>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { getlist, getSwiper, addList, addLike } from "@/api/detail.js";
import { list } from "@/api/cart.js";

export default {
  data() {
    return {
      id: this.$route.query.item,
      swiper: [],
      obj: {},
      swiper: []
    };
  },
  mounted() {
    this.getlist();
    this.getSwiper();
  },
  methods: {
    // 加入收藏
    addLike() {
      let user_id = localStorage.getItem("user_id");
      addLike({ product_id: this.id, user_id: user_id }).then(res => {
        this.$notify({
          title: "成功",
          message: res.msg,
          type: "success",
          duration: 2000
        });
      });
    },
    // 加入购物车
    add() {
      let user_id = localStorage.getItem("user_id");
      addList({ product_id: this.id, user_id: user_id }).then(res => {
        this.$notify({
          title: "成功",
          message: res.msg,
          type: "success",
          duration: 2000
        });
      });
      let Cartlist = [];
      list({ user_id: user_id }).then(res => {
        Cartlist = res.shoppingCartData;
      });
    },
    // 请求数据
    getlist() {
      getlist({ productID: this.id }).then(res => {
        this.obj = res.Product[0];
      });
    },
    // 请求轮播图数据
    getSwiper() {
      getSwiper({ productID: this.id }).then(res => {
        this.swiper = res.ProductPicture;
      });
    }
  },
  components: {}
};
</script>

<style lang="less" scoped>
.details {
  .top {
    width: 100%;
    box-shadow: 0px 3px 8px 0px #e0e0e0;
    height: 60px;
    line-height: 60px;
    div {
      width: 80%;
      margin: 0px auto;
      font-size: 18px;
    }
    margin-bottom: 40px;
  }
  .con {
    width: 80%;
    margin: 0px auto;
    height: 560px;
    display: flex;
    .left {
      width: 45%;
      height: 100%;
      text-align: center;
      img {
        width: 100%;
        height: 106%;
      }
    }
    .right {
      box-sizing: border-box;
      padding-left: 46px;
      width: 55%;
      height: 100%;
      .rightTop {
        width: 100%;
        height: 26%;
        padding-bottom: 20px;
        border-bottom: 1px solid #e0e0e0;
        .p1 {
          margin-top: 10px;
          font-size: 14px;
          color: #b0b0b0;
        }
        .p2 {
          color: #ff6700;
          margin-top: 6px;
          margin-bottom: 12px;
        }
        .p3 {
          color: #ff6700;
          font-size: 18px;
          s {
            font-size: 16px;
            color: #ccc;
          }
        }
      }
      .rightBom {
        width: 100%;
        height: 60%;
        span {
          color: #b0b0b0;
        }
        .bomBox {
          margin: 30px 0;
          height: 130px;
          background: #f9f9fa;
          .ppp {
            display: flex;
            padding: 20px 40px;
            span {
              color: #616161;
            }
            justify-content: space-between;
          }
          .origin {
            color: #ff6700;
            display: inline-block;
            margin-left: 34px;
            margin-top: 14px;
            font-size: 22px;
          }
        }
        .btn1 {
          width: 340px;
          background: #ff6700;
          height: 50px;
          border: none;
          border-radius: 4px;
          color: white;
          margin-bottom: 20px;
        }
        .btn2 {
          color: white;
          margin-left: 40px;
          width: 240px;
          background: #b0b0b0;
          height: 50px;
          border: none;
          border-radius: 4px;
        }
      }
    }
  }
}
</style>
