<template>
  <div id="app">
    <div class="appTop">
      <div class="right">
        <p
          class="p1"
          v-show="state==false"
        >
          <span @click="sign">登录</span>&nbsp;|&nbsp;<span @click="register">注册</span>
        </p>
        <p
          class="p1"
          v-show="state==true"
        >
          <b>欢迎</b>&nbsp;
          <el-popover
            placement="top"
            width="160"
            v-model="visible"
          >
            <!-- {{ruleForm.userName}} -->
            <span
              class="tc"
              slot="reference"
            >{{ruleForm.userName}}</span>
            <p>确定退出登录吗</p>
            <div style="text-align: right; margin: 0">
              <el-button
                size="mini"
                type="text"
                @click="visible = false"
              >取消</el-button>
              <el-button
                type="primary"
                size="mini"
                @click="tc"
              >确定</el-button>
            </div>
          </el-popover>
        </p>
        <p class="p2">
          <span @click="myOrder">我的订单</span>
        </p>
        <p class="p3">
          <span @click="routerLike">我的收藏</span>
        </p>
        <p
          class="p4"
          :class="num==1?'active':''"
          @click="routerCart"
          v-show="!cartshow"
        >
          <span class="cart"> <i class="el-icon-shopping-cart-full"></i> 购物车({{Cartnum}})</span>
        </p>
        <p
          class="p5"
          :class="num==1?'active':''"
          @click="routerCart"
          v-show="cartshow"
        >
          <span class="cart"> <i class="el-icon-shopping-cart-full"></i> 购物车({{Cartnum}})</span>
        </p>
      </div>
    </div>
    <div class="content">
      <div class="c1"><img
          src="../public/imgs/logo.png"
          alt=""
        ></div>
      <div class="c2">
        <ul>
          <li>
            <router-link to="/goods">首页</router-link>
          </li>
          <li>
            <router-link to="/ratings">全部商品</router-link>
          </li>
          <li>
            <router-link to="/seller">关于我们</router-link>
          </li>
        </ul>
      </div>
      <div class="c3">
        <div>
          <input
            type="text"
            v-model="txt"
            placeholder="请输入搜索内容"
          >
          <button @click="search"> <i class="el-icon-search"></i></button>
        </div>
      </div>
    </div>
    <router-view></router-view>
    <div class="quan">
      <div class="bom">
        <div class="bbb1">
          <span>7天无理由退换货</span>
          <span>满99元全场免邮</span>
          <span>100%品质保证</span>
        </div>
      </div>
      <div class="bbb2">
        <p><img src="../public/imgs/appliance-promo1.png"></p>
        <p>首页&emsp;|&emsp;全部商品&emsp;|&emsp;关于我们</p>
        <p>商城版权所有 © 2012-2021</p>
      </div>
    </div>
    <!-- 注册弹框 -->
    <div
      class="moadl"
      v-show="show==false"
    >
      <div class="box">
        <div class="top">
          <span>注册</span>
          <span
            class="float"
            @click="hide"
          >X</span>
        </div>
        <el-form
          :model="ruleForm"
          status-icon
          :rules="rules"
          ref="ruleForm"
        >
          <el-form-item prop="userName">
            <el-input
              v-model="ruleForm.userName"
              placeholder="请输入账号"
            ></el-input>
          </el-form-item>
          <el-form-item prop="password">
            <el-input
              type="password"
              v-model="ruleForm.password"
              placeholder="请输入密码"
            ></el-input>
          </el-form-item>
          <el-form-item prop="checkPass">
            <el-input
              type="password"
              v-model="ruleForm.checkPass"
              placeholder="请再次输入密码"
              icon="el-icon-edit"
            ></el-input>
          </el-form-item>
          <el-form-item>
            <el-button
              type="primary"
              @click="zc"
              class="btn"
            >注册</el-button>
          </el-form-item>
        </el-form>
      </div>
    </div>
    <!-- 注册弹框 -->
    <div
      class="moadl1"
      v-show="show1==false"
    >
      <div class="box">
        <div class="top">
          <span>注册</span>
          <span
            class="float"
            @click="hide1"
          >X</span>
        </div>
        <el-form
          :model="ruleForm"
          status-icon
          :rules="rules"
          ref="ruleForm"
        >
          <el-form-item prop="userName">
            <el-input
              v-model="ruleForm.userName"
              placeholder="请输入账号"
            ></el-input>
          </el-form-item>
          <el-form-item prop="password">
            <el-input
              type="password"
              v-model="ruleForm.password"
              placeholder="请输入密码"
            ></el-input>
          </el-form-item>
          <el-form-item>
            <el-button
              type="primary"
              @click="dl"
              class="btn"
            >登录</el-button>
          </el-form-item>
        </el-form>
      </div>
    </div>
  </div>

</template>

<script>
import Header from "@/views/header/header.vue";
import Tab from "@/views/tab/tab.vue";
import { gettopListdata, getlistdata, zc, dl, filterList } from "@/api/get.js";
import { list } from "@/api/cart.js";
export default {
  name: "app",
  data() {
    var validatePass = (rule, value, callback) => {
      if (value === "") {
        callback(new Error("请输入密码"));
      } else if (!(value[0] >= "a" && value[0] <= "z")) {
        callback(new Error("必须以字母开头"));
      } else if (value.length > 18 || value.length < 6) {
        callback(new Error("长度在 6 到 18 个字符"));
      } else {
        callback();
      }
    };
    // 密码验证
    var validatePass1 = (rule, value, callback) => {
      if (value === "") {
        callback(new Error("请输入密码"));
      } else if (!(value[0] >= "a" && value[0] <= "z")) {
        callback(new Error("必须以字母开头"));
      } else if (value.length > 18 || value.length < 6) {
        callback(new Error("长度在 6 到 18 个字符"));
      } else {
        callback();
      }
    };
    // 第二次密码的验证
    var validatePass2 = (rule, value, callback) => {
      if (value === "") {
        callback(new Error("请输入确认密码"));
      } else if (!(value[0] >= "a" && value[0] <= "z")) {
        callback(new Error("必须以字母开头"));
      } else if (value.length > 18 || value.length < 6) {
        callback(new Error("长度在 6 到 18 个字符"));
      } else if (value !== this.ruleForm.password) {
        callback(new Error("两次输入密码不一致!"));
      } else {
        callback();
      }
    };
    return {
      cartshow: false,
      Cartlist: [],
      Cartnum: 0,
      flag: 0,
      txt: "",
      show: true,
      show1: true,
      state: false,
      visible: false,
      ruleForm: {
        userName: "",
        password: "",
        checkPass: ""
      },
      rules: {
        password: [{ validator: validatePass1, trigger: "blur" }],
        checkPass: [{ validator: validatePass2, trigger: "blur" }],
        userName: [{ validator: validatePass, trigger: "blur" }]
      }
    };
  },

  components: {
    Header,
    Tab
  },
  mounted() {
    this.Cartnum = localStorage.getItem("length");
    this.getlist();
    if (localStorage.getItem("token")) {
      this.state = true;
      this.ruleForm.userName = localStorage.getItem("token");
    } else {
      this.state = false;
    }
  },
  methods: {
    // 跳转我的订单
    myOrder() {
      this.$router.push({ path: "/myorder" });
    },
    // 获取购物车数据
    getlist() {
      list().then(res => {
        let id = localStorage.getItem("user_id");
        list({ user_id: id }).then(res => {
          this.Cartlist = res.shoppingCartData;
          if (res.shoppingCartData == undefined) {
            this.Cartnum = 0;
          } else {
            this.Cartnum = res.shoppingCartData.length;
          }
          if (this.Cartnum == "0") {
            this.cartshow = false;
          } else {
            this.cartshow = true;
          }
        });
      });
    },
    // 跳转到我的收藏页面
    routerLike() {
      let token = localStorage.getItem("token");
      if (token == null) {
        this.show1 = false;
      } else {
        this.$router.push({ path: "/like" });
      }
    },
    // 跳转到购物车页面
    routerCart() {
      let token = localStorage.getItem("token");
      if (token == null) {
        this.show1 = false;
      } else {
        this.$router.push({ path: "/cart" });
      }
    },
    // 退出页面的提示
    open1() {
      const h = this.$createElement;
      this.$notify({
        title: "成功",
        message: "退出登录成功",
        type: "success"
      });
    },
    // 退出页面
    tc() {
      localStorage.removeItem("token");
      localStorage.removeItem("user_id");
      this.state = false;
      this.visible = false;
      this.ruleForm = {
        userName: "",
        password: "",
        checkPass: ""
      };
      this.open1();
    },
    // 登录页面的点击
    dl() {
      dl({
        password: this.ruleForm.password,
        userName: this.ruleForm.userName
      }).then(res => {
        if (res.code == "004") {
          this.$message({
            showClose: true,
            message: res.msg,
            type: "error",
            duration: 1000
          });
          this.ruleForm = {
            userName: "",
            password: "",
            checkPass: ""
          };
        }
        if (res.code == "001") {
          this.$message({
            showClose: true,
            message: res.msg,
            type: "success",
            duration: 1000
          });
          this.show1 = true;
          this.state = true;
          localStorage.setItem("token", this.ruleForm.userName);
          localStorage.setItem("user_id", res.user.user_id);
        }
      });
    },
    // 注册页面的注册点击
    zc() {
      zc({
        password: this.ruleForm.password,
        userName: this.ruleForm.userName
      }).then(res => {
        if (res.code == "004") {
          this.$message({
            showClose: true,
            message: res.msg,
            type: "error",
            duration: 1000
          });
        }
        if (res.code == "001") {
          this.$message({
            showClose: true,
            message: res.msg,
            type: "success",
            duration: 1000
          });
          this.show = true;
          this.ruleForm = {
            userName: "",
            password: "",
            checkPass: ""
          };
        }
      });
    },
    // 登录
    sign() {
      this.show1 = false;
    },
    // 注册模态框隐藏
    hide() {
      this.show = true;
    },
    hide1() {
      this.show1 = true;
    },
    // 注册
    register() {
      this.show = false;
      document.body.style.overflow = "hidden";
    },
    // 搜索
    search() {
      this.$router.push({ path: "/ratings", query: { txt: this.txt } });
    }
  },
  watch: {
    Cartlist(newName, oldName) {
      this.getlist();
    }
  },
  computed: {
    num() {
      let num = 0;
      let a = 0;
        // if (this.Cartlist.length == 0) {
        //   a = 0;
        // } else {
        //   a = 1;
        // }

      return a;
    }
  }
};
</script>

<style lang="less" >
.moadl {
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  position: fixed;
  left: 0;
  top: 0;
  z-index: 999;
  .box {
    width: 310px;
    height: 380px;
    background: white;
    margin: 100px auto;
    text-align: center;
    .btn {
      width: 100%;
    }
    .top {
      padding: 30px 0;
      font-size: 18px;
      .float {
        font-size: 16px;
        color: #ccc;
        float: right;
        margin-right: 20px;
        margin-bottom: 10px;
      }
    }
    .el-form {
      width: 80%;
      margin-left: 10%;
    }
  }
}
.moadl1 {
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  position: fixed;
  left: 0;
  top: 0;
  z-index: 999;
  .box {
    width: 310px;
    height: 300px;
    background: white;
    margin: 100px auto;
    text-align: center;
    .btn {
      width: 100%;
    }
    .top {
      padding: 30px 0;
      font-size: 18px;
      .float {
        font-size: 16px;
        color: #ccc;
        float: right;
        margin-right: 20px;
        margin-bottom: 10px;
      }
    }
    .el-form {
      width: 80%;
      margin-left: 10%;
    }
  }
}
.quan {
  margin-top: -18px;
  .bom {
    background: #2f2f2f;
    height: 140px;
    border-bottom: 1px solid #3d3d3d;
    div {
      margin: 20px auto;
      width: 80%;
    }
    .bbb1 {
      color: white;
      display: flex;
      justify-content: space-between;
      height: 140px;
      align-items: center;
      span {
        width: 33%;
        text-align: center;
        font-size: 22px;
      }
    }
  }
  .bbb2 {
    padding-top: 15px;
    padding-bottom: 10px;
    height: 140px;
    text-align: center;
    background: #2f2f2f;
    color: #888888;
    p:nth-child(2) {
      margin: 20px 0;
    }
    img {
      width: 50px;
      height: 50px;
      border-radius: 50%;
    }
  }
}
.nr {
  width: 80%;
  height: 100vh;
  margin: 16px auto;
}
a {
  text-decoration: none;
  color: #3e3f42;
}
.router-link-active {
  color: #409eff;
  border-bottom: 3px solid #409eff;
  padding-bottom: 16px;
}
.content {
  border-bottom: 1px solid #ccc;
  width: 80%;
  margin: 0px auto;
  height: 60px;
  .c1,
  .c2,
  .c3 {
    float: left;
    height: 100%;
  }
  .c1 {
    img {
      height: 60px;
    }
  }
  .c2 {
    margin-left: 4%;
    ul {
      height: 100%;
      align-items: center;
      font-size: 16px;
      li {
        height: 100%;
        line-height: 60px;
        padding: 0px 1px;
        text-align: center;
        width: 100px;
        float: left;
        color: red;
        // .active {
        //   border-bottom: 3px solid #409eff;
        //   color: #409eff;
        // }
        list-style: none;
      }
    }
  }
  .c3 {
    width: 28%;
    margin-left: 27%;
    div {
      height: 40px;
      width: 100%;
      margin-top: 10px;
      border: 1px solid #ccc;
      border-radius: 6px;
    }
    input {
      height: 100%;
      width: 81%;
      border: none;
      padding-left: 10px;
      border-radius: 6px 0 0 6px;
    }
    button {
      float: right;
      width: 14.5%;
      line-height: 40px;
      border: none;
      i {
        width: 100%;
        height: 100%;
      }
    }
  }
}
.appTop {
  height: 40px;
  margin-bottom: 20px;
  background: #3d3d3d;
  .right {
    width: 26%;
    height: 100%;
    float: right;
    margin-right: 10%;
    display: flex;
    color: #b0b0a5;
    p {
      width: 22%;
      margin-right: 2px;
      line-height: 40px;
      text-align: center;
      font-size: 14px;
      span {
        cursor: pointer;
      }
      span:hover {
        color: white;
      }
    }
    .p1 {
      width: 28%;
    }
    .p4 {
      background: #424242;
      width: 26%;
      cursor: pointer;
      span:hover {
        color: #ff6752;
      }
    }
    .p5 {
      background: #ff6700;
      color: white;
      width: 26%;
      cursor: pointer;
    }
    .p4:hover {
      color: #ff6752;
      background: #ffffff;
    }
  }
}
* {
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: normal;
  vertical-align: baseline;
}
</style>