<template>
  <div id="seller">
    <div class="top">
      <div class="top1">
        <i class="el-icon-s-order"></i>&ensp;关于我们
      </div>
    </div>
    <div class="box">
      <!-- <mavon-editor
        v-model="list"
        :toolbarsFlag="false"
        :subfield="true"
      /> -->
      <div>
        <p v-html="list"></p>
      </div>
    </div>
  </div>
</template>
<script>
import { getMydata } from "@/api/get.js";
import mavonEditor from "mavon-editor";

import MarkdownIt from "markdown-it";
import hljs from "highlight.js";
import "highlight.js/styles/default.css";

export default {
  name: "seller",
  data() {
    return {
      list: ""
    };
  },
  components: {},
  async mounted() {
    getMydata().then(res => {
      let md = MarkdownIt();
      this.list = md.render(res);
    });
  }
};
</script>

<style  scoped lang="less">
.v-note-wrapper .v-note-panel .v-note-edit.divarea-wrapper {
  display: none;
}
#seller {
  .top {
    width: 100%;
    border-bottom: 2px solid #ff6700;
    padding-top: 30px;
    padding-bottom: 10px;
    .top1 {
      width: 80%;
      margin: 0px auto;
      font-size: 28px;
      .el-icon-s-order {
        color: #ff6700;
      }
    }
  }
  .box {
    background: #f5f5f5;

    div {
      width: 80%;
      margin: 0px auto;
      background: white;
      padding: 20px;
      line-height: 40px;;
    }
  }
}
</style>