<template>
  <div id="header">
      这是头部页面
  </div>
</template>

<script>
export default {
  data() {
    return {
    
    };
  },
  components: {
   
  },
  methods: {
   
  },
  created(){
     
  },
  mounted() {
     
  }
};
</script>

<style scoped>
* {
  padding: 0;
  margin: 0;
  list-style: none;
}


</style>
