<template>
    <div class='myorder'>
        <div class="topa">
            <div class="top">
                <div class="center">
                    <span>
                        <i class="el-icon-s-order"></i>我的订单
                    </span>
                </div>
            </div>
        </div>
        <div class="con">
            <!-- 表头 -->
            <div
                class="box"
                v-for="(item,i) in list"
                :key="i"
            >
                <div class="box1">
                    <p class="id">
                        <span>订单编号:{{item[0].order_id}}</span>
                        <span>订单时间：{{setTime(item[0].order_time)}}</span>
                    </p>
                    <div class="head">
                        <span>商品名称</span>
                        <span>单价</span>
                        <span>数量</span>
                        <span>小计</span>
                    </div>
                </div>
                <div
                    class="box2"
                    v-for="(iten) in item"
                    :key="iten.id"
                >
                    <li>
                        <span>
                            <img
                                :src="'http://106.15.179.105:3000/'+iten.product_picture"
                                alt=""
                            >
                            <span class="name">
                                {{iten.product_name}}
                            </span>
                        </span>
                        <span>{{iten.product_price}}</span>
                        <span>{{iten.product_num}}</span>
                        <span>{{iten.product_price*iten.product_num}}</span>
                    </li>
                </div>
                <p class="bottom">
                    <span>共 <span
                            class="origin"
                            style="color:#ff6700;"
                            v-text="num(item)"
                        ></span>件商品</span>
                    <span
                        style="color:#ff6700;"
                        v-html="price(item)"
                    ></span>
                </p>
            </div>
        </div>
    </div>
</template>

<script>
import { getlist } from "@/api/myorder.js";
export default {
  data() {
    return {
      list: []
    };
  },
  mounted() {
    this.getlist();
  },
  methods: {
    setTime(time) {
      let oldDare = new Date(time);
      let n = oldDare.getFullYear();
      let y = oldDare.getMonth();
      let r = oldDare.getDate();
      let s = oldDare.getHours();
      let f = oldDare.getMinutes();
      let m = oldDare.getSeconds();
      return `${n}-${y}-${r} ${s}:${f}:${m}`;
    },
    //   计算几件商品函数
    num(item) {
      let num = 0;
      item.forEach(it => {
        num += it.product_num;
      });
      return num;
    },
    // 计算价钱函数
    price(item) {
      let price = 0;
      item.forEach(it => {
        price += it.product_price * it.product_num;
      });
      return "合计：" + "<b>" + price + "元<b>";
    },
    getlist() {
      let user_id = localStorage.getItem("user_id");
      getlist({ user_id: user_id }).then(res => {
        console.log(res);
        this.list = res.orders;
      });
    }
  },
  components: {}
};
</script>

<style lang='less'>
.myorder {
  .topa {
    width: 100%;
    .top {
      border-bottom: 3px solid #ff6700;
      padding: 16px 0;
      .center {
        width: 80%;
        margin: 0px auto;
        padding-top: 10px;
        span:nth-child(1) {
          font-size: 26px;
          i {
            color: #ff6700;
            font-weight: bold;
            margin-right: 6px;
          }
        }
        span:nth-child(2) {
          font-size: 12px;
          color: #757575;
        }
      }
    }
  }
  .con {
    background: #f5f5f5;
    .box {
      width: 80%;
      background: white;
      margin: 0px auto;
      margin-bottom: 50px;
      .box1 {
        height: 162px;
        p {
          padding: 20px 25px;
          color: #ff6700;
          border-bottom: 1px solid #ff6700;
          display: flex;
          justify-content: space-between;
          span:nth-child(2) {
            color: black;
          }
        }
        .head {
          height: 100px;
          display: flex;
          align-items: center;
          border-bottom: 1px solid #ccc;
          span {
            width: 20%;
            text-align: center;
          }
          span:nth-child(1) {
            width: 48%;
          }
        }
      }
      .box2 {
        li {
          list-style: none;
          height: 100px;
          display: flex;
          align-items: center;
          border-bottom: 1px solid #ccc;
          padding: 10px 0px;
          img {
            width: 70px;
            vertical-align: middle;
            margin-right: 10px;
          }
          span {
            width: 20%;
            text-align: center;
          }
          span:nth-child(1) {
            text-align: left;
            margin-left: 60px;
            width: 42%;
          }
          .name {
            cursor: pointer;
          }
          .name:hover {
            color: #ff6700;
          }
        }
      }
      .bottom {
        // width: 100%;
        display: flex;
        justify-content: space-between;
        padding: 10px 20px;
        b {
          font-size: 26px;
        }
      }
    }
  }
}
</style>
