<template>
  <div id="ratings">
    <div class="top">
      <p><b>首页</b><span class="ccc">&ensp;>&ensp;全部商品&ensp;>&ensp;分类</span></p>
      <p>
        <b>分类</b>
        <ul>
          <li
            :class="topIndex==-1?'active':''"
            @click="quanb"
          >全部</li>
          <li
            v-for="(item,i) in topList"
            :key="i"
            :class="topIndex==i?'active':''"
            @click="changtop(i)"
          >{{item.category_name}}</li>
        </ul>
      </p>
    </div>
    <div class="con">
      <div class="box">
        <span
          v-for="(item,i) in aaa"
          :key="i"
          v-show="result.length==0"
          @click="detail(item)"
        >
          <img
            :src="'http://106.15.179.105/api/'+item.product_picture"
            class="img"
          >
          <p class="p1">{{item.product_name}}</p>
          <p class="p2">{{item.product_title}}</p>
          <p class="p3">{{item.product_selling_price}}元&ensp;<s v-show="item.product_selling_price!=item.product_price">{{item.product_price}}</s></p>
        </span>
        <span
          v-for="(item) in result"
          :key="item.id"
          v-show="result.length!=0"
          @click="detail(item)"
        >
          <img
            :src="'http://106.15.179.105/api/'+item.product_picture"
            class="img"
          >
          <p class="p1">{{item.product_name}}</p>
          <p class="p2">{{item.product_title}}</p>
          <p class="p3">{{item.product_selling_price}}元&ensp;<s v-show="item.product_selling_price!=item.product_price">{{item.product_price}}</s></p>
        </span>
      </div>
      <div class="block">
        <!-- 全部商品分页 -->
        <el-pagination
          v-show="result.length==0"
          layout="prev, pager, next"
          :total=list.length
          @size-change="change"
          @current-change="page"
          :current-page="pagenum"
          :page-size="pagesize"
        >
        </el-pagination>
        <!-- 分类后的分页 -->
        <el-pagination
          v-show="result.length!=0"
          layout="prev, pager, next"
          :total=result.length
          @size-change="change"
          @current-change="page"
          :current-page="pagenum"
          :page-size="pagesize"
        >
        </el-pagination>
      </div>
    </div>
  </div>
</template>
<script>
import {
  gettopListdata,
  getlistdata,
  searchList,
  filterList
} from "@/api/get.js";
export default {
  name: "ratings",
  data() {
    return {
      topList: [],
      topIndex: -1,
      list: [],
      pagenum: 1,
      pagesize: 15,
      result: [],
      index: "",
      txt: this.$route.query.txt,
      filter: this.$route.query.filter
    };
  },
  methods: {
    // 点击更多进来
    routeFilter() {
      console.log(this.filter);
      if (this.filter.length == 1) {
        this.topIndex = this.filter[0] - 1;
      } else {
        this.topIndex = -5;
      }
      filterList({
        categoryID: this.filter,
        currentPage: 1,
        pageSize: 15
      }).then(res => {
        // console.log(res);
        this.result = res.Product;
      });
    },
    // 搜索进来
    searchList() {
      if (this.txt != undefined) {
        searchList({ search: this.txt, currentPage: 1, pageSize: 15 }).then(
          res => {
            this.result = res.Product;
            this.topIndex = -5;
          }
        );
      }
    },
    // 跳转购物车
    detail(item) {
      this.$router.push({ path: "/details", query: { item: item.product_id } });
    },
    router() {
      if (this.index != undefined) {
        this.topIndex = this.index;
        this.result = this.list.filter(item => {
          return item.category_id == this.index;
        });
      } else {
      }
    },
    quanb() {
      console.log(this.index);
      this.topIndex = -1;
      this.result = [];
    },
    changtop(i) {
      this.topIndex = i;
      this.result = this.list.filter(item => {
        return item.category_id == i + 1;
      });
    },
    page(val) {
      this.pagenum = val;
      console.log(1);
    },
    change(val) {
      this.pagesize = val;
    }
  },
  mounted() {
    //   头部数据
    gettopListdata().then(res => {
      this.topList = res.category;
    });
    // 中间内容数据
    getlistdata().then(res => {
      this.list = res.Product;
    });
    // 搜索进来的函数
    this.searchList();
    // 点击更多进来的函数
    this.routeFilter();
  },
  components: {},
  computed: {
    aaa() {
      return this.list.splice(
        (this.pagenum - 1) * this.pagesize,
        this.pagenum * this.pagesize
      );
    }
  }
};
</script>
<style scoped  lang="less">
#ratings {
  .top {
    width: 80%;
    margin: 0px auto;
    background: white;
    p {
      .ccc {
        color: #606266;
      }
      b {
        font-weight: bold;
      }
      margin-top: 20px;
    }
    p:nth-child(2) {
      margin-top: 30px;
      display: flex;
      align-items: center;
      ul {
        margin-left: 20px;
        list-style: none;
        display: flex;
        li {
          font-size: 14px;
          border: 1px solid #e4e7ed;
          padding: 8px 18px;
          color: #303133;
        }
        .active {
          color: #409eff;
          border-bottom: none;
        }
      }
    }
  }
  .con {
    background: #f5f5f5;
    //  height: 600px;
    .box {
      width: 80%;
      margin: 0px auto;
      display: flex;
      flex-wrap: wrap;
      span {
        width: 19%;
        height: 280px;
        background: white;
        margin-left: 8px;
        margin-top: 14px;

        text-align: center;
        img {
          width: 70%;
          height: 60%;
        }
        font-size: 14px;
        .p2 {
          margin: 10px 0;
          color: #b0b0b0;
        }
        .p3 {
          font-size: 16px;
          s {
            color: #ccc;
          }
          color: #ff7a20;
        }
      }
      span:hover {
        box-shadow: 0px 8px 16px 0px #ccc;
      }
    }
    .block {
      text-align: center;
      margin: 10px 0;
    }
  }
}
</style>

