<template>
	<div id="tab">
		123
    </div>

</template>
<script>
	export default{
		name:'tab',
		data() {
			return {
				
			}
		},
		
	}
</script>
<style lang="less" scoped>
    .router-link-active{
        color: red;
	}
	#tab{
		width:100%;
		border-bottom:0.01rem solid rgba(7,17,27,0.1);
		ul{
			display:-webkit-flex;
			display:flex;
			height:40px;
			line-height:40px;
		}
		.tab-item{
			flex-grow:1;
			text-align:center;
			line-height:40px;
			font-size:0.28rem;
			.active{
		      color:rgb(240,20,20);
	        }
			a{
				display:block;
				font-weight:bold;
        	}
	  }
	}
	

</style>